<h1>All Users</h1>
<div class="wrapper" style="background-color: lightblue;">
    <%if !@users.empty?%>
        <%@users.each do |user|%>
            <a href="users/<%=user.slug%>">
                <div class="wrapper">
                    <h3><%=user.username%></h3>
                </div>
            </a>
        <%end%>
    <%else%>
        <h3>No users have signed up yet.</h3>
    <%end%>
</div>
