<h1>Login Form</h1>
<div class="wrapper">
    <%if @message%>
        <p class="error-message"><%=@message%></p>
    <%end%>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" value="Login">
    </form>
</div>